/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.heart {
  font-size: 21px;
}
.heart--clicked {
  color: #db8876;
}

.button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  background-color: #db8876;
  color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header .pageTitle {
  font-size: 36px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a h2 {
  color: #d3573c;
  font-size: 36px;
  margin-top: 20px;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.photographer_section article .description .firstLine {
  color: #d3573c;
  font-size: 13px;
}
.photographer_section article .description .price {
  font-size: 9px;
  color: #757575;
}
.photographer_section article .description p {
  margin-bottom: 3px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
}
.photograph-header article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.photograph-header article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photograph-header article .photographText h1 {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}
.photograph-header article .photographText .description .firstLine {
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
}
.photograph-header article .photographText .description .tagLine {
  font-weight: 400;
  font-size: 18px;
}

.filter {
  position: relative;
  margin: 0 100px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}
.filter > p {
  margin-right: 25px;
}
.filter .filter__dropdown {
  position: relative;
  z-index: 3;
}
.filter .filter__dropdown i {
  position: absolute;
  top: 25px;
  right: 20px;
  transition: 0.5s;
  pointer-events: none;
  color: white;
}
.filter .filter__dropdown input {
  width: 170px;
  height: 69px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  padding: 23px 20px;
  border-radius: 10px;
  color: white;
  background-color: #901c1c;
  outline: none;
  display: flex;
}
.filter .filter__dropdown .options {
  position: relative;
  top: 60px;
  font-size: 20px;
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  background-color: #901c1c;
  color: white;
  padding: 0px 10px 6px 10px;
  display: none;
}
.filter .filter__dropdown .options div {
  font-size: 18px;
  font-weight: 700;
  border-top: #fff 1px solid;
  padding: 14px 10px;
  cursor: pointer;
}
.filter .filter__dropdown .options div:hover {
  text-decoration: underline;
}
.filter .filter__dropdown.active .options {
  display: block;
}
.filter .filter__dropdown .options .displayed {
  display: none;
}
.filter .filter__dropdown.active i {
  top: 22px;
  transform: rotate(-180deg);
}
.filter .filter__dropdown :focus-visible {
  outline: solid blue;
}

.media-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 95px;
  margin: 100px 100px;
  margin-top: 38px;
}
.media-section article {
  color: #901c1c;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.media-section article img,
.media-section article video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.media-section article .playButton {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: lightgray;
}
.media-section article .description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
}
.media-section article .description > p {
  padding-right: 10px;
}
.media-section article .description .likes {
  display: flex;
  align-items: center;
}
.media-section article .description .likes p {
  margin-right: 4px;
}
.media-section article .description .likes svg {
  color: #901c1c;
}
.media-section .allLikes {
  position: fixed;
  bottom: 0px;
  right: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 376px;
  height: 70px;
  background: #db8876;
  border-radius: 5px 5px 0 0;
}
.media-section .allLikes span {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.contact_modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  /* animation ouverture fermeture de la modale */
}
.contact_modal--close {
  display: none;
  animation: bgmodalclose 0.5s both;
}
.contact_modal--open {
  animation: bgmodalopen 0.5s both;
  display: block;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  margin: 62px auto;
  position: relative;
  /* animation ouverture fermeture de la modale */
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal h2 {
  font-size: 64px;
  font-weight: 400;
}
.modal--close {
  animation: reversemodalopen 0.8s both;
}
.modal--open {
  display: block;
  animation: modalopen 0.8s both;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 19px;
}
.modal form label {
  color: #312e2e;
  font-size: 36px;
}
.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.modal form textarea {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  outline: none;
}
.modal form .formData[data-error]::after {
  content: attr(data-error);
  width: 100%;
  font-size: 15px;
  color: black;
  display: block;
  margin-top: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.modal form .formData[data-error-visible=true]::after {
  opacity: 1;
}
.modal form .formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}
.modal form input:focus-visible,
.modal form textarea:focus-visible,
.modal form .formData[data-error-visible=true] .text-control:focus-visible {
  border: 2px solid blue;
}
.modal .thanks {
  border-radius: 5px;
  background-color: #db8876;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  font-size: 64px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: thanks 0.5s both;
}
.modal .thanks p {
  margin-bottom: 20px;
}
.modal .thanks--unvisible {
  display: none;
}
.modal .thanks .xcross-closeBtn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.bodyModal__open {
  overflow: hidden;
}
.bodyModal__close {
  overflow: auto;
}

.lightBox {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
}
.lightBox__open {
  display: block;
  animation: lightBoxOpen 0.5s both;
}
.lightBox__close {
  display: none;
  animation: lightBoxClose 0.5s both;
}
.lightBox__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.lightBox__contentCarrousel {
  display: flex;
  align-items: center;
  margin: 0px auto;
}
.lightBox__contentCross {
  position: absolute;
  right: 30px;
  top: 30px;
}
.lightBox__contentIcon {
  color: #901c1c;
  font-size: 48px;
  cursor: pointer;
}
.lightBox .arrow {
  padding: 0px 30px;
}
.lightBox .arrow--last {
  visibility: hidden;
}
.lightBox__contentCarrouselImg {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightBox__contentCarrouselImg img, .lightBox__contentCarrouselImg video {
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 5px;
  object-fit: contain;
}
.lightBox__contentTitle {
  margin: 0px auto;
  margin-top: 12px;
  width: 80vw;
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes reversemodalopen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}
@keyframes bgmodalclose {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes bgmodalopen {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes thanks {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes lightBoxOpen {
  0% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes lightBoxClose {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 950px) {
  .photograph-header {
    height: unset;
    margin: 0px;
  }
  .photograph-header article {
    padding: 20px 0px;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .photograph-header article .photographText h2 {
    font-size: 44px;
  }
  .photograph-header article * {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
  }
  .media-section {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
