header {
    .pageTitle {
        font-size: 36px;
    }
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;

    article a {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    article a h2 {
        color: #d3573c;
        font-size: 36px;
        margin-top: 20px;
    }

    article a img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    article .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;

        & .firstLine {
            color: #d3573c;
            font-size: 13px;
        }

        & .price {
            font-size: 9px;
            color: #757575;
        }

        p {
            margin-bottom: 3px;
        }
    }
}
