// photographer.css

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;

    article{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    article img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit:cover;
    }
    article .photographText h2{
        font-size: 64px;
        font-weight: 400;
        color: #D3573C;
    }
    article .photographText .description .firstLine{
        font-weight: 400;
        font-size: 24px;
        color: #901C1C;
    }
    article .photographText .description .tagLine{
        font-weight: 400;
        font-size: 18px;
    }
    
}

.filter{
    position: relative;
    margin: 0 100px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    >p{
        margin-right: 25px;
    }
    .filter__dropdown{
        position: relative;
        z-index: 3;
    }
    .filter__dropdown i{
        position: absolute;
        top: 25px;
        right: 20px;
        transition: 0.5s;
        pointer-events: none;
        color:white;
    }
    .filter__dropdown input {
        width: 170px;
        height: 69px;
        cursor: pointer;
        border: none;
        font-size: 18px;
        padding: 23px 20px;
        border-radius: 10px;
        color: white;
        background-color: #901C1C;
        outline:none;
        display: flex;
      }
      .filter__dropdown .options {
        position:relative;
        top:60px;
        font-size: 20px;
        position: absolute;
        width: 100%;
        background: #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        background-color: #901C1C;
        color: white;
        padding: 0px 10px 6px 10px;
        display:none;
      }
      .filter__dropdown .options div{
        font-size: 18px;
        font-weight: 700;
        border-top: #FFF 1px solid;
        padding:14px 10px;
        cursor:pointer;
      }
      
      .filter__dropdown .options div:hover {
        text-decoration: underline;
      }

      .filter__dropdown.active .options {
          display: block;
      }
      .filter__dropdown .options .displayed {
        display: none;
      }
      .filter__dropdown.active i {
          top: 22px;
          transform: rotate(-180deg);
      }
}

.media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
    margin: 100px 100px;
    margin-top: 58px;
    position: relative;

    article{
        color: #901C1C;
        cursor: pointer;
    }
    article img {
        width: 100%;
        height: 300px;
        object-fit:cover;
        border-radius: 5px;
    }
    article video {
        width: 100%;
        height: 300px;
        object-fit:cover;
        border-radius: 5px;
        //pointer-events: none;
    }
    article .description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        font-size: 24px;
    }
    article .description > p{
        padding: 10px;
    }
    article .description .likes{
        display: flex;
        align-items: center;
    }
    article .description .likes p{
        margin-right: 4px;
    }
    article .description .likes svg{
        color: #901C1C
    }

    .allLikes{
        position: fixed;
        bottom: 0px;
        right: 36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 376px;
        height: 70px;
        background: #DB8876;
        border-radius: 5px 5px 0 0;
    }
    .allLikes span{
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
    }
}

.contact_modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #C4C4C466;

    /* animation ouverture fermeture de la modale */
    &--close {
        display: block;
        animation: bgmodalclose 0.5s both;
    }
    &--open {
        animation: bgmodalopen 0.5s both;
        display: block;
    }
    
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: 62px auto;

    header {
        justify-content: space-between;
        width: 100%;
    }

    header img {
        cursor: pointer;
    }

    header h2 {
        font-size: 64px;
        font-weight: normal;
        text-align: center;
    }
    h2{
        font-size: 64px;
        font-weight: 400;
    }
    /* animation ouverture fermeture de la modale */
    &--close {
        animation: reversemodalopen 0.8s both;
    }
    &--open {
        animation: modalopen 0.8s both;
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 19px;
    
        label {
            color: #312E2E;
            font-size: 36px;
        }
    
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: self-start;
            margin-bottom: 26px;
        }
    
        input {
            width: 100%;
            height: 68px;
            border: none;
            border-radius: 5px;
            font-size: 36px;
        }
        textarea{
            font-family: "DM Sans", sans-serif;
            margin: 0;
            width: 100%;
            height: 170px;
            border: none;
            border-radius: 5px;
            font-size: 36px;
        }
    }
} 
.bodyModal{ //to block the scroll of the rest of the page
    &__open{
        overflow: hidden;
    }
    &__close{
        overflow: auto;
    }
 }

.lightBox{
    display: none ;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    overflow: auto;

    &__open{
        display: block ;
        animation: lightBoxOpen 0.5s both;
    }
    &__close{
        display: none;
        animation: lightBoxClose 0.5s both;
    }
    
    &__content{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__contentCarrousel{
        display: flex;
        align-items: center;
        margin: 0px auto;
    }
    &__contentCross{
        position: absolute;
        right: 30px;
        top:30px;
    }
    &__contentIcon{
        color: #901C1C;
        font-size: 48px;
        cursor: pointer;
    }
    .arrow{
        padding: 0px 30px;
        &--last{
            visibility: hidden;
        }
    }
    &__contentCarrouselImg{
        width: 80vw;
        height: 80vh;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    &__contentCarrouselImg img, &__contentCarrouselImg video{
        margin: auto;
        max-width: 80vw;
        max-height: 80vh;
        border-radius:5px;
        object-fit: contain;
    }
    &__contentTitle{
        margin: 0px auto;
        margin-top:12px;
        width: 80vw;
        font-weight: 400;
        font-size: 24px;
        color:#901C1C;
    }
}




@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}
  
@keyframes reversemodalopen {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-150px);
    }
}

@keyframes bgmodalclose {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

@keyframes bgmodalopen {
    0% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes lightBoxOpen {
    0% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        display: block;
    }
}

@keyframes lightBoxClose {
    0% {
        opacity: 1;
        display: block;
    }
    100%{
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}